/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

p,
h2,
h3,
h4,
body,
.hebergement_title {
    margin: 0;
}

body {
    flex-direction: column;
    gap: 30px;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

/* partie header */

header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    background: white;
    justify-content: space-between;
}

.logo_reservation {
    padding: 30px 0;
}

.logo_reservation img {
    width: 61px;
    height: 19px;
}

.menu>.buttons {
    /*hébergements & activités*/
    display: flex;
    gap: 68px;
}

.menu>.buttons a {
    padding: 10px 0;
    transition: all .3s;
    position: relative;
}

.menu>.buttons a:hover {
    /*quand la souris passe dessus*/
    color: var(--main-color);
}

.menu>.buttons a::before {
    /*pour la barre bleue*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transition: all .2s ease-in-out;
    transform: scaleX(0);
}

.menu>.buttons a:hover::before {
    transform: scaleX(1);
}

/* fin partie header */

/* début info-group*/

#info-group {
    /*bloc complet*/
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline {
    /*deux phrases du haut*/
    position: relative;
    line-height: 10px;
    gap: 8px;
}


form#formulaire {
    /*fonction recherche*/
    display: flex;
    height: 49px;
    position: relative;
}

#formulaire button.location {
    border-radius: 15px 0px 0px 15px;
    border: none;
    width: 50px;
    height: 49px;
    padding: 0;
    text-align: center;
}


#formulaire button i {
    font-size: initial;
    color: black;
}

#formulaire input[type=search] {
    font-weight: 700;
    font-size: 18px;
    color: black;
    border: 2px solid var(--main-bg-color);
    padding-left: 20px;
}

#formulaire input[type=search]:focus {
    outline: none;
    border-color: #D9D9D9;
}

#formulaire input[type=submit],
#formulaire input[type=button] {
    padding: 0 10px;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
}

#formulaire button.loupe {
    display: none;
}

/*fin boutons*/


/*filtres*/

nav {
    display: flex;
    gap: 15px;
}



nav.nav-filters button {
    height: 50px;
    background-color: white;
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 5px 20px;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}

nav.nav-filters button:hover {
    background-color: #DEEBFF;
}

nav.nav-filters p {
    margin: auto 0;
}

nav.nav-filters .filters {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

nav.nav-filters button i p {
    margin-top: 30px;
    width: 54px;
    height: 21px
}

/*fin filtres*/


.info-bar {
    gap: 10px;
    display: flex;
}

.info-bar button {
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.info-bar i {
    position: absolute;
    top: 5px;
    left: 9px;
}

.info-bar p {
    margin: 2px;
}

/*début cards hébergements Marseille*/

.hebergement_title {
    font-size: 22px;
    line-height: 25px;
}

.carre {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex-direction: column;
    height: 100%;
}

.carre>img {
    height: 100%;
    object-fit: cover;
    width: -webkit-fill-available;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 124px;
}



.text {
    padding: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.text>h3 {
    margin: 7px 0 3px 0;
}


.hebergements-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 30px 5%;
    flex-wrap: wrap;
}

.hebergements-cards>a {
    max-width: 30%;
    width: 100%;
}

.etoiles {
    margin-top: auto;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
}

/*fin cards hebergements*/


/*debut activités à Marseille*/
.activites {
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards>a {
    width: 100%;
    max-width: 22.5%;
}

.rectangle {
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
    height: 439px;
}

.rectangle>img {
    height: 100%;
    max-height: 380px;
    object-fit: cover;
}

.description {
    width: 200px;
    height: 59px;
}

.description>h4 {
    padding: 0px 19px;
    height: 59px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

/*début footer*/
footer {
    width: 100%;
    display: flex;
    background-color: var(--main-bg-color);
    gap: 30px;
}

footer>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
}

footer h3 {
    font-size: 18px;
}



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container,
footer {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
    /*obligé de rajouter trois propriétés sinon ça s'affichait mal*/
    display: flex;
    flex-direction: column;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    /* j'ai dû rajouter ce bloc suite aux modifications au dessus, sinon ça ne s'affichait plus comme avant, c'était décalé */
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.populaires-cards .card {
    display: flex;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        padding: 0;
    }

    header {
        flex-direction: column;
        width: 100%;
    }

    .logo_reservation {
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu>.buttons {
        gap: unset;
        width: 100%;
    }

    .menu>.buttons>a {
        height: 19px;
        text-align: center;
        width: 50%;
    }

    .menu>.buttons a::before {
        top: 100%;
    }

    #info-group {
        padding: 0 20px;
    }

    .headline h1 {
        line-height: 25px;
    }

    #formulaire button.location {
        width: 55px;
    }

    #formulaire input[type=search] {
        width: 100%;
        border-radius: 0 15px 15px 0;
    }

    #formulaire input[type=button] {
        display: none;
    }

    #formulaire button.loupe {
        display: flex;
        border-radius: 15px;
        width: 49px;
        height: 100%;
        border: 1px;
        background: #0065FC;
        position: absolute;
        right: 0;
        box-shadow: 0px 4px 4px 0px #00000040;

    }

    #formulaire button i {
        color: white;
        margin: auto;
    }

    nav.nav-filters {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }


    nav.nav-filters button {
        width: calc((100% - 10px) / 2);
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: unset;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-cards>a,
    .activites-cards>a {
        max-width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards>a {
        width: 100%;
    }

    .activites-cards {
        flex-wrap: wrap;
        gap: 15px;
    }

    /*.activites-cards > a {
        max-width: 100%;
    }*/

    .activites-cards img {
        height: 141px;
    }

    .rectangle {
        height: 100%;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    footer>div {
        padding: 0;
    }
}